* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(35, 35, 35);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.header-text{
    color: white;
    font-size: 35px;
}

hr {
  border-color: rgb(100, 100, 100);
  border-width: 0.2px;
}

.container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 617px;
    width: 100%;
}

.play-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column;
}

.grid-container {
    height: 414px;
    width: 347px;
    display: grid;
    grid-template-rows: repeat(6 1fr);
    grid-gap: 5px;
    padding: 10px;
}


/* Grid Rows: 1 */
.grid-row-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Row Blocks: 1 */
.row1-block-1 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
.row1-block-2 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row1-block-3 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row1-block-4 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row1-block-5 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}




/* Grid Row: 2 */

.grid-row-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Row Block: 2 */
.row2-block-1 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row2-block-2 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row2-block-3 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row2-block-4 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row2-block-5 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



/* Grid Row: 3 */
.grid-row-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* Row Blocks: 3 */
.row3-block-1 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row3-block-2 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row3-block-3 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row3-block-4 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row3-block-5 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



/* Grid Row: 4 */
.grid-row-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Row Block: 4 */
.row4-block-1 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row4-block-2 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row4-block-3 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row4-block-4 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row4-block-5 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



/* Grid Row: 5 */
.grid-row-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* Row Blocks: 5 */

.row5-block-1 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row5-block-2 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row5-block-3 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row5-block-4 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.row5-block-5 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



/* Grid Row: 6 */
.grid-row-6 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Row Blocks: 6 */
.row6-block-1 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.row6-block-2 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.row6-block-3 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.row6-block-4 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.row6-block-5 {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.286);
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


/* Keyboard Box */

.keyboard-box {
    display: grid;
    height: 200px;
    width: 600px;
    margin-bottom: 8px;
}

.keyboard-row-1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.row-1-block {
    display: flex;
    background-color: grey;
    margin: 3px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1px 1px;
    font-size: 15px;
    border-radius: 5px;
}

.keyboard-row-2 {
    display: flex;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.row-2-block {
    display: flex;
    background-color: grey;
    margin: 3px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1px 1px;
    font-size: 15px;
    border-radius: 5px;
}

.keyboard-row-3 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.row-3-block {
    display: flex;
    background-color: grey;
    color: white;
    margin: 3px;
    justify-content: center;
    align-items: center;
    padding: 1px 1px;
    font-size: 15px;
    border-radius: 5px;
}



